name: Publish npm package
on:
  release:
    types: [created]
  workflow_dispatch:
    inputs:
      prerelease:
        description: 'Publish as prerelease (adds --tag next)'
        required: false
        type: boolean
        default: false
env:
  rootDir: ./packages/nextjs-cache-handler
jobs:
  publish-npm:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ${{ env.rootDir }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Copy README file to package directory
        run: |
          cp ../../README.md .
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          cache: pnpm
          node-version: lts/*
          registry-url: "https://registry.npmjs.org"
      - run: pnpm install --frozen-lockfile
      - name: Publish to npm
        run: |
          if [ "${{ github.event.inputs.prerelease }}" == "true" ]; then
            pnpm publish --access public --tag next --no-git-checks
          else
            pnpm publish --access public --no-git-checks
          fi
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
